
.animated-text1{
    top: 0;
    overflow: hidden;
    height: 50%;
}

.animated-text2{
    top: 0;
    overflow: hidden;
    height: 50%;
}
  .animated-text1 div{
    animation: showTopText 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
    transition: 1.5s all ease-out;
  }

  .animated-text2 span,img{
    animation: showTopText 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
    transition:1.5s all ease-in;
  }

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    /* 50%{ transform: translate3d(0, 50%, 0); } */
    100% { transform: translate3d(0, 0, 0); }
  }